@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
  color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}

.flext-container {
  width: 1000px;
  background: linear-gradient(to right, #b0c83c, #68b649);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.from {
  width: 50%;
  background-color: #fff;
  border-radius: 15px;
  margin: 50px 0;
  padding: 15px 30px;
}

h2 {
  text-align: center;
  margin: 45px 0;
  font-size: 30px;
  font-weight: 400;
}

.email-text {
  text-align: center;
}

.email-text input {
  width: 70%;
  margin-top: 35px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid rgba(105, 104, 104, 0.637);
}
.email-text input::placeholder {
  font-size: 15px;
}

.password-text {
  text-align: center;
}
.password-text input {
  width: 70%;
  border: none;
  margin-top: 20px;
  margin-bottom: 35px;
  border-bottom: 1px solid rgba(105, 104, 104, 0.637);
}

.password-text input::placeholder {
  font-size: 15px;
}
.btn {
  text-align: center;
  margin: 40px 0;
}

.btn button {
  background: linear-gradient(to right, #b0c83c, #31c54a);
  width: 50%;
  height: 40px;
  border: none;
  font-size: 12px;
  border-radius: 15px;
  font-weight: bold;
}

.forgot-link {
  text-align: center;
  margin-bottom: 70px;
}

.forgot-link a {
  text-decoration: none;
  color: rgba(105, 104, 104, 0.637);
}
